


.active__chat__match__message{
    color: gray;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.active__chat__back__chats{
    margin-top: 30px;
}

.active__chat__back__home__arrow{
    font-weight: bolder;
    color: red;
}

.active__chat__messages{
    display: flex;
    align-items: center;
    padding: 20px;
}

.active__chat__text{
    margin-left: 10px;
    background-color:lightgray;
    border-radius: 25px;
    padding: 15px;
}

.active__chat__text__user{
    margin-left: 10px;
    background-color:blueviolet;
    border-radius: 25px;
    padding: 15px;
    margin-left: auto;
}
.active__chat__input {
    display: flex;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1.5px solid lightgray;
}
.active__chat__input__box {
    flex: 1;
    padding: 10px;
    border: none;
}

.active__chat__input__button{
border: none;
background-color: white;
margin-left: 20px;
margin-right: 8px;
font-weight: bolder;
font-size: 15px;
color: red;
}

