
/* really cool found out vw and vh is view width and view height! */
.card{
    position: relative;
    background-color: white;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    /* 0.4 is the trasparency */
    box-shadow: 0px 19px 53px 0px rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
    /* cover makes it not repeat  */
    background-size: cover;
    background-position: center;
}

.gamerCards__cardContainer {
display: flex;
justify-content: center;
margin-top: 10vh;
}